.auth-form{
    max-width: 350px;
    padding: 16px;
    border: 1px solid grey;
    background-color: #3f51b5;
    margin: auto;
}

.heading{
    margin-bottom: 14px;
    color: white;
    font-size: 20px;
}

.auth-form input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 14px;
    max-height: 30px;
}

.auth-form button{
    background-color: white;
    color: #3f51b5;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 14ps;
    max-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.error-bar{
    padding: 6px;
    background-color: rgba(255, 88, 88, 0.959);
    color: white;
    font-size: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close-icon{
    font-size: 18px !important;
    color: white;
    cursor: pointer;
}

.box-message{
    color: rgb(204, 204, 204);
    margin-top: 14px;
    font-size: 14px;
}

.box-message a{
    color: white;
    margin-left: 8px;
    text-decoration: none;
}
