.dropdown{
    margin-top: 10px;
    background-color: rgb(212, 212, 212);
    border: 1px solid grey;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}


.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    overflow: hidden;
    transition: 0.2s linear;
}

.chart-container.show{
    height: 300px;
}



.chart-container canvas{
    max-height: 440px;
    max-width: 440px
}