.container{
    margin: 10px;
    display: flex;
    column-gap: 10px;
}

.container img{
    width: 100%;
}

.MuiToolbar-gutters{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.MuiIconButton-root{
    padding: 0px !important;
}